#carbonads{
  box-sizing: content-box;
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 170px;
  font-variant: small-caps;
  font-weight: 700;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.2;
  text-align: center;
  background-color: #2980b9;
  border-radius: 2px;
  overflow: hidden;
  a{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
  }
  .carbon-img{
    display: block;
    padding: 20px 20px 0;
  }
  .carbon-text{
    display: block;
    padding: 10px 20px 35px;
  }
  .carbon-poweredby{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing: 1px;
    font-size: 10px;
    padding: 6px 0;
    color: #999;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.1);
  }
}